<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MEGHDOOT</title>
</head>
<style>
 @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;500;700&display=swap');
 *{
    font-family: 'roboto',sans-serif;
 } 
    *{
        margin: 0;
        padding: 0;
    }
    .container{
        height: 100dvh;
        width: 100%;
        background:  rgba(36, 63, 112, 1);
      
    }
    .header{
        height: 10vh;
        display: flex;
        justify-content: space-between;
        align-items: center  ;
    }  
    #title{
           font-size: 30px;
           font-weight: 500;
          
           margin-top: 40px;
          
           margin-right: 33px;
           color:  #FEFEFE;
        }
        #logoImage{
            width: 10%;
           
            margin-top: 40px;
            margin-left: 33px;
        }
        #container3{
          
           width: 45%;
            display: grid;
            grid-template-rows: 1fr 1fr 1fr ;
            grid-template-columns: 1fr;
            gap: 10px;
            
        }

        #container3> div{
            background: rgba(236, 236, 236, 0.12);
            
           
        }

        #pump{
           
           background: rgba(236, 236, 236, 0.12); 
           
           width: 45%; 
           
           
        }
        
        .container2{
            display: flex;
            justify-content: space-evenly;
           
            
            width: 100%;
            height: 75vh;
            margin-top: 6%;

           
        }
        h1{
            color:  rgba(204, 204, 204, 1);
        }
        .statusContainer{
            display: grid;
            
            grid-template-rows: 1fr 1fr 1fr 1fr ;
            grid-template-columns: 1fr 1fr 1fr ;
            row-gap: 3rem;
            column-gap: 2rem;
            padding: 2rem;

        }
        .statusContainer>div{
            display: grid;
            place-items: center;
           
            height: 55px; 
            border-radius: 50px;
           
            
             background: #C56767;
            
             color:  #C4C4C4;
             
        }
        #statusLow>div{
            display: flex;
            align-items: center;
            
            width: 140px;
            height: 55px;
            border-radius: 50px;
            flex-direction: column;
            justify-content: center;
            
            background: #C56767;
         
             color:  #C4C4C4;
             
        }
        #statusHigh>div{
            display: flex;
            align-items: center;
            
            width: 140px;
            height: 55px;
            border-radius: 50px;
            flex-direction: column;
            justify-content: center;
            
            background: #C56767;
            
             color:  #C4C4C4;
        }
        .rowgap > div{
            margin-bottom: 23px;
        }
        

</style>
<body>
    <div class="container">
        <div class="container1">
            <div class="header">
                 <img id="logoImage" src="images/image 3.png" alt="">
     
                <h1 id="title">
                  MEGHDOOT   
                </h1>
      
            </div>
        </div>


       <div class="container2">
        <div id="container3">
           
            
              
                <div style="display: flex; justify-content: space-evenly; align-items: center;" >
                    
                     <div>
                        <svg width="177" height="95" viewBox="41 0 104 106" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <g clip-path="url(#clip0_13_89)">
                            <path d="M76.3774 62.2088V12.2621C76.3774 5.48953 70.724 0 63.7511 0C56.7774 0 51.1248 5.48953 51.1248 12.2621V62.2088C45.4754 66.0686 41.7842 72.4489 41.7842 79.6668C41.7842 91.4488 51.6191 101 63.7511 101C75.8831 101 85.718 91.4488 85.718 79.6668C85.718 72.4489 82.026 66.0686 76.3774 62.2088Z" fill="#D8D8D8"/>
                            <path d="M63.7511 94.0132C55.3857 94.0132 48.5802 87.4033 48.5802 79.28C48.5802 73.1108 52.5276 67.6182 58.4508 65.4752V12.2621C58.4508 9.42328 60.828 7.11465 63.7511 7.11465C66.6734 7.11465 69.0514 9.42328 69.0514 12.2621V65.4752C74.9738 67.6174 78.922 73.11 78.922 79.2792C78.922 87.4033 72.1165 94.0132 63.7511 94.0132Z" fill="#EA5454" fill-opacity="0.29"/>
                            <path d="M58.4508 12.12V65.4752C52.5276 67.6174 48.5802 73.11 48.5802 79.2792C48.5802 87.4033 55.3857 94.0125 63.7511 94.0125C72.1165 94.0125 78.922 87.4033 78.922 79.2792C78.922 73.11 74.9738 67.6174 69.0514 65.4752V12.12H58.4508Z" fill="#DD8F1B" fill-opacity="0.22"/>
                            <path d="M93.8652 35.5509H84.7603C83.893 35.5509 83.1908 34.8682 83.1908 34.0268C83.1908 33.1853 83.893 32.5026 84.7603 32.5026H93.8652C94.7316 32.5026 95.4346 33.1853 95.4346 34.0268C95.4346 34.8682 94.7316 35.5509 93.8652 35.5509Z" fill="#92A8B1"/>
                            <path d="M88.8942 23.198H84.7603C83.893 23.198 83.1908 22.5152 83.1908 21.6738C83.1908 20.8323 83.893 20.1496 84.7603 20.1496H88.8942C89.7606 20.1496 90.4636 20.8323 90.4636 21.6738C90.4636 22.5152 89.7606 23.198 88.8942 23.198Z" fill="#92A8B1"/>
                            <path d="M90.3589 10.845H84.7603C83.893 10.845 83.1908 10.1622 83.1908 9.32079C83.1908 8.47932 83.893 7.7966 84.7603 7.7966H90.3589C91.2261 7.7966 91.9283 8.47932 91.9283 9.32079C91.9283 10.1622 91.2261 10.845 90.3589 10.845Z" fill="#92A8B1"/>
                            <path d="M90.3589 60.2569H84.7603C83.893 60.2569 83.1908 59.5742 83.1908 58.7327C83.1908 57.8905 83.893 57.2086 84.7603 57.2086H90.3589C91.2261 57.2086 91.9283 57.8905 91.9283 58.7327C91.9283 59.5742 91.2261 60.2569 90.3589 60.2569Z" fill="#92A8B1"/>
                            <path d="M88.8942 47.9039H84.7603C83.893 47.9039 83.1908 47.2212 83.1908 46.3797C83.1908 45.5383 83.893 44.8556 84.7603 44.8556H88.8942C89.7606 44.8556 90.4636 45.5383 90.4636 46.3797C90.4636 47.2212 89.7606 47.9039 88.8942 47.9039Z" fill="#92A8B1"/>
                            <path d="M69.0514 65.4752V38.38H58.4508V65.4752C58.4508 65.4752 47.84 68.7771 47.84 79.2792C47.84 85.1186 53.6424 90.9 57.1789 92.5576C59.1681 93.49 61.3977 94.0125 63.7503 94.0125C72.1157 94.0125 78.922 87.4033 78.922 79.2792C78.922 73.11 74.9738 67.6182 69.0514 65.4752Z" fill="#DD8F1B"/>
                            </g>
                            <defs>
                            <clipPath id="clip0_13_89">
                            <rect width="104" height="101" fill="white"/>
                            </clipPath>
                            </defs>
                            <text x="122" y="24" fill="#D8D8D8" style="font:bold 1.5em serif" > Temp </text>
                            <text x="130" y="93" fill="#D8D8D8" style="font:bold 2em serif" id="temp1">°c</text>
                             <rect class="rectWidth" x="17" y="66" :width="tempheight" height="11" :fill="this.temp.temp.value<=35?'#DD8F1B':'#C56767'" transform="rotate(270,17,66)"/>
                            </svg>

                     </div>
                        
                            
                        
                     
                        <div>
                            <svg width="220" height="95" viewBox="60 0 105 104" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <g clip-path="url(#clip0_13_89)">
                                <path d="M76.3774 62.2088V12.2621C76.3774 5.48953 70.724 0 63.7511 0C56.7774 0 51.1248 5.48953 51.1248 12.2621V62.2088C45.4754 66.0686 41.7842 72.4489 41.7842 79.6668C41.7842 91.4488 51.6191 101 63.7511 101C75.8831 101 85.718 91.4488 85.718 79.6668C85.718 72.4489 82.026 66.0686 76.3774 62.2088Z" fill="#D8D8D8"/>
                                <path d="M63.7511 94.0132C55.3857 94.0132 48.5802 87.4033 48.5802 79.28C48.5802 73.1108 52.5276 67.6182 58.4508 65.4752V12.2621C58.4508 9.42328 60.828 7.11465 63.7511 7.11465C66.6734 7.11465 69.0514 9.42328 69.0514 12.2621V65.4752C74.9738 67.6174 78.922 73.11 78.922 79.2792C78.922 87.4033 72.1165 94.0132 63.7511 94.0132Z" fill="#EA5454" fill-opacity="0.29"/>
                                <path d="M58.4508 12.12V65.4752C52.5276 67.6174 48.5802 73.11 48.5802 79.2792C48.5802 87.4033 55.3857 94.0125 63.7511 94.0125C72.1165 94.0125 78.922 87.4033 78.922 79.2792C78.922 73.11 74.9738 67.6174 69.0514 65.4752V12.12H58.4508Z" fill="#DD8F1B" fill-opacity="0.22"/>
                                <path d="M93.8652 35.5509H84.7603C83.893 35.5509 83.1908 34.8682 83.1908 34.0268C83.1908 33.1853 83.893 32.5026 84.7603 32.5026H93.8652C94.7316 32.5026 95.4346 33.1853 95.4346 34.0268C95.4346 34.8682 94.7316 35.5509 93.8652 35.5509Z" fill="#92A8B1"/>
                                <path d="M88.8942 23.198H84.7603C83.893 23.198 83.1908 22.5152 83.1908 21.6738C83.1908 20.8323 83.893 20.1496 84.7603 20.1496H88.8942C89.7606 20.1496 90.4636 20.8323 90.4636 21.6738C90.4636 22.5152 89.7606 23.198 88.8942 23.198Z" fill="#92A8B1"/>
                                <path d="M90.3589 10.845H84.7603C83.893 10.845 83.1908 10.1622 83.1908 9.32079C83.1908 8.47932 83.893 7.7966 84.7603 7.7966H90.3589C91.2261 7.7966 91.9283 8.47932 91.9283 9.32079C91.9283 10.1622 91.2261 10.845 90.3589 10.845Z" fill="#92A8B1"/>
                                <path d="M90.3589 60.2569H84.7603C83.893 60.2569 83.1908 59.5742 83.1908 58.7327C83.1908 57.8905 83.893 57.2086 84.7603 57.2086H90.3589C91.2261 57.2086 91.9283 57.8905 91.9283 58.7327C91.9283 59.5742 91.2261 60.2569 90.3589 60.2569Z" fill="#92A8B1"/>
                                <path d="M88.8942 47.9039H84.7603C83.893 47.9039 83.1908 47.2212 83.1908 46.3797C83.1908 45.5383 83.893 44.8556 84.7603 44.8556H88.8942C89.7606 44.8556 90.4636 45.5383 90.4636 46.3797C90.4636 47.2212 89.7606 47.9039 88.8942 47.9039Z" fill="#92A8B1"/>
                                <path d="M69.0514 65.4752V38.38H58.4508V65.4752C58.4508 65.4752 47.84 68.7771 47.84 79.2792C47.84 85.1186 53.6424 90.9 57.1789 92.5576C59.1681 93.49 61.3977 94.0125 63.7503 94.0125C72.1157 94.0125 78.922 87.4033 78.922 79.2792C78.922 73.11 74.9738 67.6182 69.0514 65.4752Z" fill="#DD8F1B"/>
                                </g>
                                <defs>
                                <clipPath id="clip0_13_89">
                                <rect width="104" height="101" fill="white"/>
                                </clipPath>
                                </defs>
                                <text x="130" y="16" fill="#D8D8D8" style="font:bold 1.5em serif" > Due Point</text>
                                <text x="139" y="93" fill="#D8D8D8" style="font:bold 2em serif" id="temp2">°c</text>
                                 <rect class="rectWidth" x="17" y="66" :width="tempheight" height="11" :fill="this.temp.temp.value<=35?'#DD8F1B':'#C56767'" transform="rotate(270,17,66)"/>
                            </svg>
                        </div>
                            
                            
                </div>
            
            <div>
               
                <div style="margin-top: 5%; margin-left: 5%; display:flex; justify-content:center;align-items:center">
                    <svg width="313" height="95" viewBox="0 0 300 110" fill="none">
                        <path d="M107.397 88.3021C109.671 89.66 112.634 88.9245 113.806 86.5494C117.814 78.4278 119.94 69.4842 119.999 60.3865C120.068 49.6864 117.274 39.1625 111.907 29.9055C106.54 20.6485 98.7949 12.9951 89.4746 7.73867C80.1544 2.48219 69.598 -0.186175 58.8995 0.0100941C48.2009 0.206363 37.7495 3.26013 28.6283 8.85492C19.5072 14.4497 12.0482 22.3819 7.02427 31.8296C2.00039 41.2772 -0.405552 51.8965 0.0557928 62.5869C0.448047 71.6763 2.90095 80.5359 7.20356 88.5051C8.46185 90.8356 11.4499 91.4619 13.6726 90.0215V90.0215C15.8952 88.5812 16.5069 85.6205 15.2842 83.2711C11.892 76.7528 9.95661 69.5532 9.63813 62.1734C9.25054 53.1919 11.2719 44.2701 15.4927 36.3328C19.7135 28.3954 25.9801 21.7311 33.6432 17.0307C41.3063 12.3302 50.0871 9.76463 59.0754 9.59974C68.0637 9.43484 76.9326 11.6767 84.763 16.0929C92.5933 20.5091 99.1002 26.939 103.609 34.7162C108.118 42.4935 110.466 51.335 110.408 60.3247C110.36 67.7113 108.69 74.977 105.539 81.6153C104.404 84.008 105.123 86.9443 107.397 88.3021V88.3021Z" fill="url(#paint0_linear)"></path>
                        <path d="M23.7539 104.81C23.7539 106.241 23.485 107.321 22.9473 108.05C22.4141 108.774 21.6006 109.137 20.5068 109.137C19.4313 109.137 18.6201 108.784 18.0732 108.077C17.5309 107.366 17.2529 106.316 17.2393 104.926V103.203C17.2393 101.772 17.5059 100.699 18.0391 99.9834C18.5768 99.2679 19.3949 98.9102 20.4932 98.9102C21.5824 98.9102 22.3936 99.2588 22.9268 99.9561C23.4645 100.653 23.7402 101.697 23.7539 103.087V104.81ZM22.0928 102.95C22.0928 102.016 21.9652 101.332 21.71 100.899C21.4548 100.462 21.0492 100.243 20.4932 100.243C19.9508 100.243 19.5521 100.451 19.2969 100.865C19.0417 101.275 18.9072 101.918 18.8936 102.793V105.049C18.8936 105.979 19.0234 106.671 19.2832 107.127C19.543 107.583 19.9508 107.811 20.5068 107.811C21.04 107.811 21.4342 107.601 21.6895 107.182C21.9447 106.758 22.0791 106.097 22.0928 105.199V102.95Z" fill="#D8D8D8"></path>
                        <path d="M99.0276 109H97.3733V101.009L94.9329 101.843V100.441L98.8157 99.0127H99.0276V109ZM109.254 104.81C109.254 106.241 108.985 107.321 108.447 108.05C107.914 108.774 107.101 109.137 106.007 109.137C104.931 109.137 104.12 108.784 103.573 108.077C103.031 107.366 102.753 106.316 102.739 104.926V103.203C102.739 101.772 103.006 100.699 103.539 99.9834C104.077 99.2679 104.895 98.9102 105.993 98.9102C107.082 98.9102 107.894 99.2588 108.427 99.9561C108.965 100.653 109.24 101.697 109.254 103.087V104.81ZM107.593 102.95C107.593 102.016 107.465 101.332 107.21 100.899C106.955 100.462 106.549 100.243 105.993 100.243C105.451 100.243 105.052 100.451 104.797 100.865C104.542 101.275 104.407 101.918 104.394 102.793V105.049C104.394 105.979 104.523 106.671 104.783 107.127C105.043 107.583 105.451 107.811 106.007 107.811C106.54 107.811 106.934 107.601 107.189 107.182C107.445 106.758 107.579 106.097 107.593 105.199V102.95ZM117.491 104.81C117.491 106.241 117.222 107.321 116.684 108.05C116.151 108.774 115.338 109.137 114.244 109.137C113.168 109.137 112.357 108.784 111.81 108.077C111.268 107.366 110.99 106.316 110.976 104.926V103.203C110.976 101.772 111.243 100.699 111.776 99.9834C112.314 99.2679 113.132 98.9102 114.23 98.9102C115.319 98.9102 116.131 99.2588 116.664 99.9561C117.202 100.653 117.477 101.697 117.491 103.087V104.81ZM115.83 102.95C115.83 102.016 115.702 101.332 115.447 100.899C115.192 100.462 114.786 100.243 114.23 100.243C113.688 100.243 113.289 100.451 113.034 100.865C112.779 101.275 112.644 101.918 112.631 102.793V105.049C112.631 105.979 112.76 106.671 113.02 107.127C113.28 107.583 113.688 107.811 114.244 107.811C114.777 107.811 115.171 107.601 115.426 107.182C115.682 106.758 115.816 106.097 115.83 105.199V102.95Z" fill="#D8D8D8"></path>
                        <text x="35" y="73" fill="#D8D8D8" style="font:bold 2em serif" id="humtext"> °c</text>
                        <text x="130" y="16" fill="#D8D8D8" style="font:bold 1.5em serif" > Humidity</text>

                        <defs>
                        <linearGradient id="paint0_linear" x1="10" y1="93" :x2="humidityValueChart" y2="0" gradientUnits="userSpaceOnUse">
                        <stop stop-color="#DD8F1B"></stop>
                        <stop offset="0.28125" stop-color="#D8D8D8"></stop>
                        </linearGradient>
                       
                        </defs>
                    </svg>
                  
                   
                  
                        
                </div>
            </div>
            <div>
                <div style="position: inherit;">
                    <div style="display: flex; justify-content: space-between;align-items: center; margin: 1.5rem;">
                        <h2 style="font-size: 22px; margin: 1rem; color:  rgba(204, 204, 204, 1);">
                            Water Tank Level
                        </h2>
                        <h1 id="levelIndicator">
                            
                        </h1>
                    </div>
                </div>
                <img src="waterLow1.svg" alt="" id="waterlevelimg" style="width: 100%; position:relative;top: 10%;">

                
            </div>
            
        </div>
        <div id="pump">
            <div style="margin: 2rem;">
                <div>
                    <div style="display: flex; justify-content: space-between;align-items: center;">
                        <div>
                            <h1 style="font-size: 40px; display: inline-block;" id="ltsGenerated">
                                500
                            </h1>
                            <p style="font-size: 15px; color:  rgba(204, 204, 204, 1); display: inline-block; margin-left:10px;"  >
                                lts <br>Generated
                            </p>

                        </div>
                        <img src="" alt="" id="powerbutton">
                    </div>
                    <br>
                <hr class="solid">
                </div>

            </div>
            <div class="statusContainer">
                
                    <div id="com1">
                        Com1
                    </div>
                    <div id="com2">
                        LP1
                    </div>
                    <div id="dosing">
                        HP1
                    </div>
                    <div id="vmr">
                        COM2
                    </div>
    
                
                
                    <div id="low1">
                        LP2
                    </div>
                    <div id="low2">
                        HP2
                    </div>
                    <div id="pump1">
                        Dosing
                    </div>
                    <div id="ozonator">
                        Pump1
                    </div>
    
                
                
                    <div id="high1">
                        Pump2
                    </div>
                    <div id="high2">
                        VMR
                    </div>
                    <div id="pump2">
                        Ozonator
                    </div>
                    <div id="uppertank">
                        Upper Tank
                    </div>
    
                
            </div>
           </div>
        </div>
        
       

    </div>
    <script>
function mainfunction(res){
    function imgfun(a){
        if (a=='Low') {
            let level = document.getElementById('levelIndicator')
            level.textContent= a
        
            
        } 
        else if(a=='Med') {
            let level = document.getElementById('levelIndicator')
            level.textContent= a
        }
        else{
            let level = document.getElementById('levelIndicator')
            level.textContent= a
        }
    }
    function powerImageOffOn(condition){
        if (condition==='On') {
            let powerbutton = document.getElementById('powerbutton')
            powerbutton.setAttribute ("src","poweron.jpg")
            
        } else {
            let powerbutton = document.getElementById('powerbutton')
            powerbutton.setAttribute("src","poweroff.png")
            
        }
    }
    function compessor1(c1){
        if (c1==="On") {
            let comp1 = document.getElementById('com1')
            comp1.style.background= "#5FCE6A" 
            
        } 
        

        
        else {
            let comp1 = document.getElementById('com1')
            comp1.style.background= "#C56767" 
            
        }
    }
    function compessor2(c2){
        if (c2==="On") {
            let comp2 = document.getElementById('com2')
            comp2.style.background= "#5FCE6A" 
            
        } else {
            let comp1 = document.getElementById('com2')
            comp1.style.background= "#C56767" 
            
        }
    }
    function vmr(v){
        if (vmr==="On") {
            let v1 = document.getElementById('vmr')
            v1.style.background= "#5FCE6A" 
            
        } else {
            let v1 = document.getElementById('vmr')
            v1.style.background= "#C56767" 
            
        }
    }
    function dos(Dosing){
        if (Dosing==="On") {
            let d1 = document.getElementById('dosing')
            d1.style.background= "#5FCE6A" 
            
        } else {
            let d1 = document.getElementById('dosing')
            d1.style.background= "#C56767" 
            
        }
    }
    function ozo(oz){
        if (oz==="On") {
            let o1 = document.getElementById('ozonator')
            o1.style.background= "#5FCE6A" 
            
        } else {
            let o1 = document.getElementById('ozonator')
            o1.style.background= "#C56767" 
            
        }
    }
   
    function lower1(lp1){
        if (lp1==="On") {
            let l1 = document.getElementById('low1')
            l1.style.background= "#5FCE6A" 
            
        } else {
            let l1 = document.getElementById('low1')
            l1.style.background= "#C56767" 
            
        }
    }
    function lower2(lp2){
        if (lp2==="On") {
            let l2 = document.getElementById('low2')
            l2.style.background= "#5FCE6A" 
            
        } else {
            let l2 = document.getElementById('low2')
            l2.style.background= "#C56767" 
            
        }
    }
    function high1(hp1){
        if (hp1==="On") {
            let h1 = document.getElementById('high1')
            h1.style.background= "#5FCE6A" 
            
        } else {
            let h1 = document.getElementById('high1')
            h1.style.background= "#C56767" 
            
        }
    }
    function high2(hp2){
        if (hp2==="On") {
            let h2 = document.getElementById('high2')
            h2.style.background= "#5FCE6A" 
            
        } else {
            let h2 = document.getElementById('high2')
            h2.style.background= "#C56767" 
            
        }
    }
    function pumps1(pump1){
        if (pump1==="On") {
            let p1 = document.getElementById('pump1')
            p1.style.background= "#5FCE6A" 
            
        } else {
            let p1 = document.getElementById('pump1')
            p1.style.background= "#C56767" 
            
        }
    }
    function pumps2(pump2){
        if (pump2==="On") {
            let p2 = document.getElementById('pump2')
            p2.style.background= "#5FCE6A" 
            
        } else {
            let p2 = document.getElementById('pump2')
            p2.style.background= "#C56767" 
            
        }
    }
    function upper(utl){
        if (utl==="On") {
            let u1 = document.getElementById('uppertank')
            u1.style.background= "#5FCE6A" 
            
        } else {
            let u1 = document.getElementById('uppertank')
            u1.style.background= "#C56767" 
            
        }
    }

    imgfun(res.level)
    powerImageOffOn(res.power)
    compessor1(res.c1)
    compessor2(res.c2)
    vmr(res.vmr)
    ozo(res.oz)
    lower1(res.lp1)
    lower2(res.lp2)
    high1(res.hp1)
    high2(res.hp2)
    dos(res.Dosing)
    pumps1(res.pump1)
    pumps2(res.pump2)
    upper(res.utl)
}
let reconnectDelay = 1000;
function websocket(){
        let url = "ws://localhost:8765"

        const socket = new WebSocket(url)

        socket.onopen = (event)=>
        {
            console.log("websocket established",event);
        }
        socket.onmessage = (event)=>
        {
        const res = JSON.parse(event.data)
        // console.log(res);
        let temp = document.getElementById('temp1')
        temp.textContent = res.temp+"°c"

        let due = document.getElementById('temp2')
        due.textContent = res.dp+"°c"

        let hum = document.getElementById('humtext')
        hum.textContent = res.hum+"°c"

        let lts = document.getElementById('ltsGenerated')
        lts.textContent = res.dwg

        mainfunction(res)




       
    }
    socket.onclose = () =>
    {
        console.log('websocket connection closed');
        setTimeout(websocket,reconnectDelay);       
        
        
    }
    socket.onerror=(error) => {
            console.log("websocket connection error",error)
    }

   
}
websocket()


    </script>
    
</body>
</html>