<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Input_Output</title>
    <link rel="stylesheet" href="style.css">
</head>

<body>
    <div style="height:100vh;display: flex; flex-direction:column; justify-content:space-between">

        <div class="header">
            <h2 style="padding-left: 2%;">DD/MM/YYYY</h2>
            <h2>INPUTS / OUTPUTS</h2>
            <h2 style="padding-right: 2%;">HH:MM:SS</h2>
        </div>

        <div class="grid-container">
            <h3 class="title">Input</h3>
            <h3 class="title">Output</h3>

            <div class="input-card">

                <div class="divData">
                    <h3 class="motoName">Main Motor Trip</h3>
                    <div id="mmtstatusbtn" class="statusbtn"
                        style="width: 15%; background-color: green; border-radius: 10%;">
                        <p id="mmtStatus"
                            style="font-size: large; font-weight: 600; color: aliceblue;  display: flex; justify-content: center;align-items: center;">
                        </p>
                    </div>
                </div>
                <hr>

                <div class="divData">
                    <h3 class="motoName">Blower Motor Trip</h3>
                    <div id="blowerTripstatusbtn" class="statusbtn"
                        style="width: 15%; background-color: #d10000; border-radius: 10%;">
                        <p id="blowerTripStatus"
                            style="font-size: large; font-weight: 600; color: aliceblue;  display: flex; justify-content: center;align-items: center;">
                        </p>
                    </div>
                </div>
                <hr>
                <div class="divData">
                    <h3 class="motoName">Door Open</h3>
                    <div id="DoorOpenstatusbtn" class="statusbtn"
                        style="width: 15%; background-color: green; border-radius: 10%;">
                        <p id="DoorOpenStatus"
                            style="font-size: large; font-weight: 600; color: aliceblue;  display: flex; justify-content: center;align-items: center;">
                        </p>
                    </div>
                </div>
                <hr>
                <div class="divData">
                    <h3 class="motoName">SPP OK</h3>
                    <div id="Sppstatusbtn" class="statusbtn"
                        style="width: 15%; background-color: #d10000; border-radius: 10%;">
                        <p id="SppStatus"
                            style="font-size: large; font-weight: 600; color: aliceblue;  display: flex; justify-content: center;align-items: center;">
                        </p>
                    </div>
                </div>
                <hr>
                <div class="divData">
                    <h3 class="motoName">Emergency Switch</h3>
                    <div id="Eswitchstatusbtn" class="statusbtn"
                        style="width: 15%; background-color: #d10000; border-radius: 10%;">
                        <p id="EswitchStatus"
                            style="font-size: large; font-weight: 600; color: aliceblue;  display: flex; justify-content: center;align-items: center;">
                        </p>
                    </div>

                </div>
            </div>

            <div class="output-card">

                <div class="divData">
                    <h3 class="motoName">Main Motor Forward</h3>
                    <div class="statusbtn" style="width: 15%; background-color: #d10000; border-radius: 10%;"
                        id="mmfbt">
                        <p id="mmf_status"
                            style="font-size: large; font-weight: 600; color: aliceblue;  display: flex; justify-content: center;align-items: center;">
                        </p>
                    </div>
                </div>
                <hr>
                <div class="divData">
                    <h3 class="motoName">Main Motor Reverse</h3>
                    <div id="mmrbt" class="statusbtn"
                        style="width: 15%; background-color: #d10000; border-radius: 10%;">
                        <p id="mmr_status"
                            style="font-size: large; font-weight: 600; color: aliceblue;  display: flex; justify-content: center;align-items: center;">
                        </p>
                    </div>
                </div>
                <hr>
                <div class="divData">
                    <h3 class="motoName">Blower Motor</h3>
                    <div id="blowerbt" class="statusbtn"
                        style="width: 15%; background-color: #d10000; border-radius: 10%;">
                        <p id="bm_status"
                            style="font-size: large; font-weight: 600; color: aliceblue;  display: flex; justify-content: center;align-items: center;">
                        </p>
                    </div>
                </div>
                <hr>
                <div class="divData">
                    <h3 class="motoName">Heater</h3>
                    <div id="heaterbt" class="statusbtn"
                        style="width: 15%; background-color: #d10000; border-radius: 10%;">
                        <p id="heater_status"
                            style="font-size: large; font-weight: 600; color: aliceblue;  display: flex; justify-content: center;align-items: center;">
                        </p>
                    </div>
                </div>

            </div>

            {{!-- <a href="/manual"><button>Click to open Manul page</button></a> --}}
        </div>

        <div class="iofooter">
            <button style="height: 80%; width:20%; font-size:x-large; background-color:#007AFF; border: none;
                 border-radius: 8px; color:white; font-weight:600 ">HOME</button>
        </div>
        <script src="input_output.js"></script>
    </div>
</body>

</html>