body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.header {
    width: 100%;
    height: 5.5rem;
    background-color: #e8e9e8;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.iofooter {
    margin-top: 1%;
    width: 100%;
    height: 5rem;
    /* background-color: #e8e9e8; */
    display: flex;
    justify-content: center;
    align-content: end;

}

.main-container {

    /* height: 90dvh; */
    width: 100%;
    /* background: rgba(36, 63, 112, 1); */
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(2, 3fr);
    /* Three equal-width columns */
    gap: 20px;

    /* Gap between grid items */
}

.title {
    display: flex;
    justify-content: center;
    font-size: 30px;
}

.motoName {
    font-size: 26px;
}

hr {
    border: none;
    margin: 5px 0px 5px 0px;
    /* Remove default border */
    height: 2px;
    /* Set the height of the line */
    background-color: #e8e9e8;
    /* Set the color of the line */

}

.input-card {
    padding-left: 8%;
    padding-right: 8%;


    width: auto;
    height: 65dvh;
    /* height: auto; */
    background-color: #f9f9f9;
    border-radius: 10px;
}

.output-card {
    padding-left: 8%;
    padding-right: 8%;
    width: auto;
    height: inherit;
    background-color: #f9f9f9;
    border-radius: 10px;
}

.divData {
    display: flex;
    height: 15%;

    align-items: center;
    justify-content: space-between;
}

.statusbtn {
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
}

/* Manual screen style */

.manual-main-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    row-gap: 3rem;
}

.maindiv {
    width: 100%;
    height: auto;

    gap: 10%;
}



.motor-grid {

    padding: 3% 0% 1.5% 7%;
    display: grid;
    grid-template-columns: repeat(3, 4fr);
    /* Three equal-width columns */
    gap: 20px;

}

.twocolomn-grid {
    width: 62%;
    padding: 1% 0% 2% 7%;
    display: grid;
    grid-template-columns: repeat(2, 4fr);
    /* Three equal-width columns */
    gap: 20px;
}

.manualfooter {

    margin-top: 2%;
    width: 100%;
    height: 5rem;
    /* background-color: #e8e9e8; */
    display: flex;
    justify-content: space-around;
}

/* setting-1 screen style */

.present {
    display: flex;
    justify-content: center;
}

.data_container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.settinggrid-container {
    align-items: center;
    padding-left: 10%;
    display: grid;
    grid-template-columns: repeat(3, 3fr);
    /* Three equal-width columns */
    gap: 20px;

    /* Gap between grid items */
}