<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Grid-Layout</title>
</head>
    <style>
     @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;500;700&display=swap');
    *{
        font-family: 'roboto',sans-serif;
    }
        *{
            margin: 0;
            padding: 0;

        }
        .container{
             height: 100dvh;
            width: 100%;
            background: rgba(36, 63, 112, 1); 
        }
        .header{
            padding-right: 2rem;
            padding-left: 2rem;
            height: 20%;
            display: flex;
            align-items: center;
            justify-content: space-between;
        
        }
        #title{
           font-size: 30px;
           font-weight: 500;
          
           color:  #FEFEFE;
        }
        #logoImage{
            width: 10%;
            
          
        }
        .angry-grid {
           display: grid; 
        
           grid-template-rows: 1fr 1fr 1fr ;
           grid-template-columns: 1fr 1fr 1fr 1fr ;
           
           gap: 10px;
           height: 75%;
           padding: 30px;
           padding-top: 0px;
           /* padding-bottom: 0px; */
           
        }
          
        #item-0 {
        
            
           grid-row-start: 1;
           grid-column-start: 1;
        
           grid-row-end: 2;
           grid-column-end: 2;
           height: 220px;
           background: rgba(236, 236, 236, 0.12);  
        }
        #item-0 > div{
            width: 200px;
            height: 350px;
            position: absolute;
            top: 14%;
            left: 28px;
            display: flex;
            justify-content: space-around;
            align-items: center; 
        }
        #item-1 {
        
            
           grid-row-start: 1;
           grid-column-start: 2;
        
           grid-row-end: 2;
           grid-column-end: 3;
           background: rgba(236, 236, 236, 0.12);

           
        }
        #humidity > div{
            
            
            display: flex;
            justify-content: center;
            align-items: center;
        }
       
        #item-2 {
         
           grid-row-start: 1;
           grid-column-start: 3;
        
           grid-row-end: 4;
           grid-column-end: 5;
           background: rgba(236, 236, 236, 0.05);

           
        }
        #item-3 {
        
           
           grid-row-start: 2;
           grid-column-start: 1;
        
           grid-row-end: 4;
           grid-column-end: 3;
           background: rgba(236, 236, 236, 0.05);

           
        }
        h1{
           
            color: rgba(204, 204, 204, 1);  
        }
        /* #waterlevel{
           width: 100%;
           height: 100%;
            background: rgba(236, 236, 236, 0.05);
            padding: 0;
            
        } */
        h2{
            font-size: 25px;
            font-weight: 700;
            color: rgba(196, 196, 196, 1);
        } 
        hr.solid {
  border-top: 0px solid #bbb;
}

#powerbutton{
    height: 10%;
    width: 10%;

}
#compressors{
    
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 2.5rem;
    margin-top: 10%;
}
        </style>
<body>
    <div class="container">
        
        <div class="header">
            <img id="logoImage" src="images/image 3.png" alt="">

            <h1 id="title">
                MEGHDOOT
            </h1>
        </div>
        <div class="angry-grid">
            <div id="item-0">
                
                    <h1 style="font-size: 22px; margin: 1rem;">
                        Temperature
                    </h1>
                    <div>
                        <!-- <svg width="130" height="91" viewBox="0 0 111 101" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M35.3774 62.2088V12.2621C35.3774 5.48953 29.724 0 22.7511 0C15.7774 0 10.1248 5.48953 10.1248 12.2621V62.2088C4.4754 66.0686 0.784241 72.4489 0.784241 79.6668C0.784241 91.4488 10.6191 101 22.7511 101C34.8831 101 44.718 91.4488 44.718 79.6668C44.718 72.4489 41.026 66.0686 35.3774 62.2088Z" fill="#D8D8D8"/>
        
                            <path d="M22.7511 94.0132C14.3857 94.0132 7.5802 87.4033 7.5802 79.28C7.5802 73.1108 11.0768 68.143 17 66V52.25V39V12.2621C17 9.42328 19.828 7.11465 22.7511 7.11465C25.6734 7.11465 28.0514 9.42328 28.0514 12.2621V66C33.9738 68.1422 37.922 73.11 37.922 79.2792C37.922 87.4033 31.1165 94.0132 22.7511 94.0132Z" fill="#EA5454" fill-opacity="0.29"/>
        
                            <path d="M52.8652 35.551H43.7603C42.893 35.551 42.1908 34.8682 42.1908 34.0268C42.1908 33.1853 42.893 32.5026 43.7603 32.5026H52.8652C53.7316 32.5026 54.4346 33.1853 54.4346 34.0268C54.4346 34.8682 53.7316 35.551 52.8652 35.551Z" fill="#92A8B1"/>
                            <path d="M47.8942 47.9039H43.7603C42.893 47.9039 42.1908 47.2212 42.1908 46.3797C42.1908 45.5383 42.893 44.8556 43.7603 44.8556H47.8942C48.7606 44.8556 49.4636 45.5383 49.4636 46.3797C49.4636 47.2212 48.7606 47.9039 47.8942 47.9039Z" fill="#92A8B1"/>
                            <path d="M49.3589 10.845H43.7603C42.893 10.845 42.1908 10.1622 42.1908 9.32079C42.1908 8.47932 42.893 7.7966 43.7603 7.7966H49.3589C50.2261 7.7966 50.9283 8.47932 50.9283 9.32079C50.9283 10.1622 50.2261 10.845 49.3589 10.845Z" fill="#92A8B1"/>
                            <path d="M49.3589 60.2569H43.7603C42.893 60.2569 42.1908 59.5742 42.1908 58.7327C42.1908 57.8905 42.893 57.2086 43.7603 57.2086H49.3589C50.2261 57.2086 50.9283 57.8905 50.9283 58.7327C50.9283 59.5742 50.2261 60.2569 49.3589 60.2569Z" fill="#92A8B1"/>
                            <path d="M47.8942 47.9039H43.7603C42.893 47.9039 42.1908 47.2212 42.1908 46.3797C42.1908 45.5383 42.893 44.8556 43.7603 44.8556H47.8942C48.7606 44.8556 49.4636 45.5383 49.4636 46.3797C49.4636 47.2212 48.7606 47.9039 47.8942 47.9039Z" fill="#92A8B1"/>
                            <path d="M28 66H22H17C17 66 6.83997 68.7771 6.83997 79.2792C6.83997 85.1186 12.6424 90.9 16.1789 92.5576C18.1681 93.49 20.3977 94.0125 22.7503 94.0125C31.1157 94.0125 37.922 87.4033 37.922 79.2792C37.922 73.11 33.9224 68.143 28 66Z" :fill="this.temp.temp.value<=35?'#DD8F1B':'#C56767'"/>
                            <text x="70" y="52" fill="#D8D8D8" style="font:bold 2em serif" id="tempValue"> c</text>
                             <rect class="rectWidth" x="17" y="66" :width="tempheight" height="11" :fill="this.temp.temp.value<=35?'#DD8F1B':'#C56767'" transform="rotate(270,17,66)"/>
                            </svg>   -->
                            <svg width="177" height="95" viewBox="41 0 104 106" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <g clip-path="url(#clip0_13_89)">
                                <path d="M76.3774 62.2088V12.2621C76.3774 5.48953 70.724 0 63.7511 0C56.7774 0 51.1248 5.48953 51.1248 12.2621V62.2088C45.4754 66.0686 41.7842 72.4489 41.7842 79.6668C41.7842 91.4488 51.6191 101 63.7511 101C75.8831 101 85.718 91.4488 85.718 79.6668C85.718 72.4489 82.026 66.0686 76.3774 62.2088Z" fill="#D8D8D8"/>
                                <path d="M63.7511 94.0132C55.3857 94.0132 48.5802 87.4033 48.5802 79.28C48.5802 73.1108 52.5276 67.6182 58.4508 65.4752V12.2621C58.4508 9.42328 60.828 7.11465 63.7511 7.11465C66.6734 7.11465 69.0514 9.42328 69.0514 12.2621V65.4752C74.9738 67.6174 78.922 73.11 78.922 79.2792C78.922 87.4033 72.1165 94.0132 63.7511 94.0132Z" fill="#EA5454" fill-opacity="0.29"/>
                                <path d="M58.4508 12.12V65.4752C52.5276 67.6174 48.5802 73.11 48.5802 79.2792C48.5802 87.4033 55.3857 94.0125 63.7511 94.0125C72.1165 94.0125 78.922 87.4033 78.922 79.2792C78.922 73.11 74.9738 67.6174 69.0514 65.4752V12.12H58.4508Z" fill="#DD8F1B" fill-opacity="0.22"/>
                                <path d="M93.8652 35.5509H84.7603C83.893 35.5509 83.1908 34.8682 83.1908 34.0268C83.1908 33.1853 83.893 32.5026 84.7603 32.5026H93.8652C94.7316 32.5026 95.4346 33.1853 95.4346 34.0268C95.4346 34.8682 94.7316 35.5509 93.8652 35.5509Z" fill="#92A8B1"/>
                                <path d="M88.8942 23.198H84.7603C83.893 23.198 83.1908 22.5152 83.1908 21.6738C83.1908 20.8323 83.893 20.1496 84.7603 20.1496H88.8942C89.7606 20.1496 90.4636 20.8323 90.4636 21.6738C90.4636 22.5152 89.7606 23.198 88.8942 23.198Z" fill="#92A8B1"/>
                                <path d="M90.3589 10.845H84.7603C83.893 10.845 83.1908 10.1622 83.1908 9.32079C83.1908 8.47932 83.893 7.7966 84.7603 7.7966H90.3589C91.2261 7.7966 91.9283 8.47932 91.9283 9.32079C91.9283 10.1622 91.2261 10.845 90.3589 10.845Z" fill="#92A8B1"/>
                                <path d="M90.3589 60.2569H84.7603C83.893 60.2569 83.1908 59.5742 83.1908 58.7327C83.1908 57.8905 83.893 57.2086 84.7603 57.2086H90.3589C91.2261 57.2086 91.9283 57.8905 91.9283 58.7327C91.9283 59.5742 91.2261 60.2569 90.3589 60.2569Z" fill="#92A8B1"/>
                                <path d="M88.8942 47.9039H84.7603C83.893 47.9039 83.1908 47.2212 83.1908 46.3797C83.1908 45.5383 83.893 44.8556 84.7603 44.8556H88.8942C89.7606 44.8556 90.4636 45.5383 90.4636 46.3797C90.4636 47.2212 89.7606 47.9039 88.8942 47.9039Z" fill="#92A8B1"/>
                                <path d="M69.0514 65.4752V38.38H58.4508V65.4752C58.4508 65.4752 47.84 68.7771 47.84 79.2792C47.84 85.1186 53.6424 90.9 57.1789 92.5576C59.1681 93.49 61.3977 94.0125 63.7503 94.0125C72.1157 94.0125 78.922 87.4033 78.922 79.2792C78.922 73.11 74.9738 67.6182 69.0514 65.4752Z" fill="#DD8F1B"/>
                                </g>
                                <defs>
                                <clipPath id="clip0_13_89">
                                <rect width="104" height="101" fill="white"/>
                                </clipPath>
                                </defs>
                                <!-- <text x="122" y="24" fill="#D8D8D8" style="font:bold 1.5em serif" > Temp </text> -->
                                <text x="125" y="76" fill="#D8D8D8" style="font:bold 2em serif" id="tempValue"> °c</text>
                                 <rect class="rectWidth" x="17" y="66" :width="tempheight" height="11" :fill="this.temp.temp.value<=35?'#DD8F1B':'#C56767'" transform="rotate(270,17,66)"/>
                                </svg>
                    </div>
                    
               
            </div>
            <div id="item-1">
                <div id="humidity">
                    <h1 style="font-size: 22px; margin: 1rem; margin-bottom: 0px;">
                        Humidity
                    </h1>
                    <div>
                        <svg width="122" height="177" viewBox="0 0 122 120" fill="none" >
                            <path d="M107.397 88.3021C109.671 89.66 112.634 88.9245 113.806 86.5494C117.814 78.4278 119.94 69.4842 119.999 60.3865C120.068 49.6864 117.274 39.1625 111.907 29.9055C106.54 20.6485 98.7949 12.9951 89.4746 7.73867C80.1544 2.48219 69.598 -0.186175 58.8995 0.0100941C48.2009 0.206363 37.7495 3.26013 28.6283 8.85492C19.5072 14.4497 12.0482 22.3819 7.02427 31.8296C2.00039 41.2772 -0.405552 51.8965 0.0557928 62.5869C0.448047 71.6763 2.90095 80.5359 7.20356 88.5051C8.46185 90.8356 11.4499 91.4619 13.6726 90.0215V90.0215C15.8952 88.5812 16.5069 85.6205 15.2842 83.2711C11.892 76.7528 9.95661 69.5532 9.63813 62.1734C9.25054 53.1919 11.2719 44.2701 15.4927 36.3328C19.7135 28.3954 25.9801 21.7311 33.6432 17.0307C41.3063 12.3302 50.0871 9.76463 59.0754 9.59974C68.0637 9.43484 76.9326 11.6767 84.763 16.0929C92.5933 20.5091 99.1002 26.939 103.609 34.7162C108.118 42.4935 110.466 51.335 110.408 60.3247C110.36 67.7113 108.69 74.977 105.539 81.6153C104.404 84.008 105.123 86.9443 107.397 88.3021V88.3021Z" fill="url(#paint0_linear)"/>
                            <path d="M23.7539 104.81C23.7539 106.241 23.485 107.321 22.9473 108.05C22.4141 108.774 21.6006 109.137 20.5068 109.137C19.4313 109.137 18.6201 108.784 18.0732 108.077C17.5309 107.366 17.2529 106.316 17.2393 104.926V103.203C17.2393 101.772 17.5059 100.699 18.0391 99.9834C18.5768 99.2679 19.3949 98.9102 20.4932 98.9102C21.5824 98.9102 22.3936 99.2588 22.9268 99.9561C23.4645 100.653 23.7402 101.697 23.7539 103.087V104.81ZM22.0928 102.95C22.0928 102.016 21.9652 101.332 21.71 100.899C21.4548 100.462 21.0492 100.243 20.4932 100.243C19.9508 100.243 19.5521 100.451 19.2969 100.865C19.0417 101.275 18.9072 101.918 18.8936 102.793V105.049C18.8936 105.979 19.0234 106.671 19.2832 107.127C19.543 107.583 19.9508 107.811 20.5068 107.811C21.04 107.811 21.4342 107.601 21.6895 107.182C21.9447 106.758 22.0791 106.097 22.0928 105.199V102.95Z" fill="#D8D8D8"/>
                            <path d="M99.0276 109H97.3733V101.009L94.9329 101.843V100.441L98.8157 99.0127H99.0276V109ZM109.254 104.81C109.254 106.241 108.985 107.321 108.447 108.05C107.914 108.774 107.101 109.137 106.007 109.137C104.931 109.137 104.12 108.784 103.573 108.077C103.031 107.366 102.753 106.316 102.739 104.926V103.203C102.739 101.772 103.006 100.699 103.539 99.9834C104.077 99.2679 104.895 98.9102 105.993 98.9102C107.082 98.9102 107.894 99.2588 108.427 99.9561C108.965 100.653 109.24 101.697 109.254 103.087V104.81ZM107.593 102.95C107.593 102.016 107.465 101.332 107.21 100.899C106.955 100.462 106.549 100.243 105.993 100.243C105.451 100.243 105.052 100.451 104.797 100.865C104.542 101.275 104.407 101.918 104.394 102.793V105.049C104.394 105.979 104.523 106.671 104.783 107.127C105.043 107.583 105.451 107.811 106.007 107.811C106.54 107.811 106.934 107.601 107.189 107.182C107.445 106.758 107.579 106.097 107.593 105.199V102.95ZM117.491 104.81C117.491 106.241 117.222 107.321 116.684 108.05C116.151 108.774 115.338 109.137 114.244 109.137C113.168 109.137 112.357 108.784 111.81 108.077C111.268 107.366 110.99 106.316 110.976 104.926V103.203C110.976 101.772 111.243 100.699 111.776 99.9834C112.314 99.2679 113.132 98.9102 114.23 98.9102C115.319 98.9102 116.131 99.2588 116.664 99.9561C117.202 100.653 117.477 101.697 117.491 103.087V104.81ZM115.83 102.95C115.83 102.016 115.702 101.332 115.447 100.899C115.192 100.462 114.786 100.243 114.23 100.243C113.688 100.243 113.289 100.451 113.034 100.865C112.779 101.275 112.644 101.918 112.631 102.793V105.049C112.631 105.979 112.76 106.671 113.02 107.127C113.28 107.583 113.688 107.811 114.244 107.811C114.777 107.811 115.171 107.601 115.426 107.182C115.682 106.758 115.816 106.097 115.83 105.199V102.95Z" fill="#D8D8D8"/>
                            <!-- <text x="45" y="73" fill="#f5f5f5" style="font:bold 2em serif" v-if="humidityValue<100">{{humidityValue}}</text> -->
                            <text x="30" y="73" fill="#D8D8D8" style="font:bold 2em serif" id="humtext"></text>
                            <!-- <text x="30" y="73" fill="#D8D8D8" style="font:bold 2em serif" v-else></text> -->
        
                            <path d="M74.8762 68.7949H72.5422V74H69.6125V59.7812H74.8957C76.5754 59.7812 77.871 60.1556 78.7824 60.9043C79.6939 61.653 80.1496 62.7109 80.1496 64.0781C80.1496 65.0482 79.938 65.8587 79.5148 66.5098C79.0982 67.1543 78.4634 67.6686 77.6105 68.0527L80.6867 73.8633V74H77.5422L74.8762 68.7949ZM72.5422 66.4219H74.9055C75.6411 66.4219 76.2108 66.2363 76.6145 65.8652C77.0181 65.4876 77.2199 64.9701 77.2199 64.3125C77.2199 63.6419 77.0279 63.1146 76.6438 62.7305C76.2661 62.3464 75.6835 62.1543 74.8957 62.1543H72.5422V66.4219ZM94.3582 74H91.4285V67.9062H85.7156V74H82.7859V59.7812H85.7156V65.543H91.4285V59.7812H94.3582V74Z" fill="#C4C4C4"/>
                            <defs>
                            <linearGradient id="paint0_linear" x1="10" y1="93" :x2="humidityValueChart" y2="0" gradientUnits="userSpaceOnUse">
                            <stop stop-color="#5FCE6A"/>
                            <stop offset="0.28125" stop-color="#D8D8D8"/>
                            </linearGradient>
                            </defs>
                        </svg>
                    </div>
                </div>
            </div>
            <div id="item-2">
                <div id="pump">
                    <div  style="margin: 2rem;" >
                    <div>
                        <div style="display: flex; justify-content: space-between; align-items: center;">
                        <div>
                            <h1  style="font-size: 22px;">
                                Pump
                            </h1>
                            <p style="font-size: 40px; color: rgba(196, 196, 196, 1);" id="pump1">
                                OFF
                            </p>
                        </div>
                        <img src="" alt="" id="powerbutton">
                    </div>
                    <br>
                <hr class="solid">
                </div>
                        <!-- <div style="display: flex; justify-content: center; margin-top: 50px; margin-left: 30px;" >
                            <svg xmlns="http://www.w3.org/2000/svg" width="440" height="2" viewBox="0 0 440 2" fill="none" >
                            <path d="M0 0.620605H440" stroke="#9E9E9E"/>
                          </svg>
                          
                        </div> -->
                       
                       
                    </div>
                    {{!-- <div class="compessorContainer"  style="margin-top: 20px;display: flex; justify-content: center; align-items: center; flex-direction: column;">
                        <div id="compessor1" style="margin-top: 90px; width: 70%;height: 60px;">
                            <div style=" height: 50px;  background: #5FCE6A; border-radius: 50px; display: grid; place-items: center; color: #FFF;" id="comp1">
                                compessor1
                            </div>
        
                        </div>
                        <div style="margin-top: 20px; width: 70%;">
                            <div style=" height: 45px;  border:3px solid #BBBABA ; border-radius: 50px; display: grid; place-items: center; color: #FFF;" id="low1">
                                LP1
                            </div>
        
                        </div>
                        <div style="margin-top: 20px;  width: 70%;">
                            <div style=" height: 45px; border:3px solid #BBBABA; border-radius: 50px; display: grid; place-items: center; color: #FFF;" id="high1">
                                HP1
                            </div>
        
                        </div>
        
                    </div>
         --}}

                    <div id="compressors">
                        <div  style="; width: 70%;height: 60px;  background: #5FCE6A; border-radius: 50px; display: grid; place-items: center; color: #FFF;" id="comp1">
                           Compressor1 
                        </div>
                        <div style="width: 70%;  height: 60px;  border:3px solid #BBBABA ; border-radius: 50px; display: grid; place-items: center; color: #FFF;" id="low1">
                            Lp1
                        </div>
                        <div  style="width: 70%;  height: 60px; border:3px solid #BBBABA; border-radius: 50px; display: grid; place-items: center; color: #FFF;" id="high1">
                            Hp1
                        </div>

                    </div>
        
                    
                   
                </div>
            </div>
            <div id="item-3">
                <!-- <div id="waterlevel"> -->
                    <div style="position: inherit;">
                    <div style="display: flex; justify-content: space-between; align-items: center; margin: 1.5rem;">
                        <h2>
                            Water Tank Level
                        </h2>
                        <h1  id="levelIndicator">
            
                        </h1    >
                    </div>
                </div>
                
                    <img src="" alt="" id="waterlevelimg" style="width: 100%;">
                    
                <!-- </div> -->
            </div>
        </div>
    </div>
    <script id="script">
        var imagepath
        var value
        function imgfun(a){
    // console.log(a) 
    if (a=="Low"){
          
        let image = document.getElementById('waterlevelimg')
        image.setAttribute('src', "waterLow1.svg")
        image.style.position = "relative"
        image.style.top ="195px"
        image.style.marginBottom="0px"

        // image.style.height="105%"

        let level = document.getElementById('levelIndicator')
        level.textContent= a
       

    }
    else if (a=="Med"){
         
        let image = document.getElementById('waterlevelimg')
        image.setAttribute('src', "waterLow2.svg")
        
        image.style.position = "relative"
        image.style.top ="110px"
        // image.style.height="108%"
        
        let level = document.getElementById('levelIndicator')
        level.textContent= a
    }
    else{
        
        let image = document.getElementById('waterlevelimg')
        image.setAttribute('src', "waterLow3.svg")
        image.style.position = "relative"
        image.style.top= '55px'
        // image.style.height="0px"
        
        
        let level = document.getElementById('levelIndicator')
        level.textContent= a
    }
    
}
function compressor1(x){
    if (x==="On") {
        let comp1= document.getElementById("comp1")
        comp1.style.background='#5FCE6A'
            
    } else {
            let comp1= document.getElementById("comp1")
            comp1.style.background='#C56767'
    }
    
}
function lower1(y){
    if (y==="On") {
        let Low1= document.getElementById("low1")
        Low1.style.borderColor='#C56767'
        
    } else {
        let Low1= document.getElementById("low1")
        Low1.style.borderColor='#BBBABA'
    }
}
function higher1(z){
    if (z==="On") {
        let High1= document.getElementById("high1")
        High1.style.borderColor='#C56767'
        
    } else {
        let High1= document.getElementById("high1")
        High1.style.borderColor='#BBBABA'
    }
}
function powerImageOffOn(condition){
    if (condition==="On") {
        let powerbutton = document.getElementById('powerbutton')
        powerbutton.setAttribute('src',"poweron.jpg")
        
    } else {
        let powerbutton = document.getElementById('powerbutton')
        powerbutton.setAttribute('src',"poweroff.png")
    }
}
function pumps(b){
    if (b==="On") {
        let pump1= document.getElementById('pump1')
        pump1.textContent= b
        pump1.style.color='#5FCE6A'
        
    } else {
        let pump1= document.getElementById('pump1')
        pump1.textContent= b
        pump1.style.color='#C56767'
    }
}

function restApi(){
fetch("https://djzp2yaxrd.execute-api.ap-south-1.amazonaws.com/Maithri_kiosk_test_stage/Maithri_kiosk_test",{
    method:"GET",
    headers:{
        'Content-Type': 'application/json'
    }
})
.then((res)=>res.json())
.then((res)=>{


    let tvalue = document.querySelector('#tempValue')
    tvalue.textContent= res.temp + "°c"

    let hvalue = document.querySelector('#humtext')
    hvalue.textContent = res.hum


compressor1(res.c1)

lower1(res.lp1)

higher1(res.hp1)
imgfun(res.level)


powerImageOffOn(res.power)

pumps(res.pump1)



})
}
// setInterval(restApi,5000)

function websocket(){
    let url = "ws://localhost:8765"

    const socket = new WebSocket(url)

    socket.onopen = (event)=>
    {
        console.log("websocket established",event);
    }
    socket.onmessage = (event)=>
    {
        const res = JSON.parse(event.data)
        // console.log(res);
        let tvalue = document.querySelector('#tempValue')
    tvalue.textContent= res.temp + "c"

    let hvalue = document.querySelector('#humtext')
    hvalue.textContent = res.hum


compressor1(res.c1)

lower1(res.lp1)

higher1(res.hp1)
imgfun(res.level)


powerImageOffOn(res.power)

pumps(res.pump1)

        // console.log(JSON.parse(event.data));

    }
    socket.onclose = () =>
    {
        socket.onopen = (event) =>
        {
            console.log("Websocket connection established again after:",event);
        }
    }

    return () =>
    {
        if (socket)
        {
         console.log("websocket connection closed: close event");
         socket.close()   
        }
    }
}
websocket()


    </script>

        
</body>
</html>